@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
	--font-sans: Plus Jakarta Sans, sans-serif;
	--font-mono: IBM Plex Mono, monospace;
	--font-serif: Lora, serif;
	--radius: 1.4rem;
	--tracking-tighter: calc(var(--tracking-normal) - 0.05em);
	--tracking-tight: calc(var(--tracking-normal) - 0.025em);
	--tracking-wide: calc(var(--tracking-normal) + 0.025em);
	--tracking-wider: calc(var(--tracking-normal) + 0.05em);
	--tracking-widest: calc(var(--tracking-normal) + 0.1em);
	--tracking-normal: var(--tracking-normal);
	--shadow-2xl: var(--shadow-2xl);
	--shadow-xl: var(--shadow-xl);
	--shadow-lg: var(--shadow-lg);
	--shadow-md: var(--shadow-md);
	--shadow: var(--shadow);
	--shadow-sm: var(--shadow-sm);
	--shadow-xs: var(--shadow-xs);
	--shadow-2xs: var(--shadow-2xs);
	--spacing: var(--spacing);
	--letter-spacing: var(--letter-spacing);
	--shadow-offset-y: var(--shadow-offset-y);
	--shadow-offset-x: var(--shadow-offset-x);
	--shadow-spread: var(--shadow-spread);
	--shadow-blur: var(--shadow-blur);
	--shadow-opacity: var(--shadow-opacity);
	--color-shadow-color: var(--shadow-color);
	--color-destructive-foreground: var(--destructive-foreground);
	--radius-2xl: calc(var(--radius) + 8px);
	--radius-3xl: calc(var(--radius) + 12px);
	--radius-4xl: calc(var(--radius) + 16px);
}

:root {
	--radius: 1.4rem;
	--background: oklch(0.9940 0 0);
	--foreground: oklch(0 0 0);
	--card: oklch(0.9940 0 0);
	--card-foreground: oklch(0 0 0);
	--popover: oklch(0.9911 0 0);
	--popover-foreground: oklch(0 0 0);
	--primary: oklch(0.4679 0.2888 277.3222);
	--primary-foreground: oklch(1.0000 0 0);
	--secondary: oklch(0.7972 0.0293 256.5022);
	--secondary-foreground: oklch(0.1344 0 0);
	--muted: oklch(0.9702 0 0);
	--muted-foreground: oklch(0.4386 0 0);
	--accent: oklch(0.7420 0.1322 264.8265);
	--accent-foreground: oklch(0.4645 0.1590 259.3925);
	--destructive: oklch(0.5600 0.2131 26.9561);
	--border: oklch(0.7646 0.0326 285.6029);
	--input: oklch(0.9401 0 0);
	--ring: oklch(0 0 0);
	--chart-1: oklch(0.6515 0.1391 155.6336);
	--chart-2: oklch(0.4679 0.2888 277.3222);
	--chart-3: oklch(0.6602 0.1883 44.9717);
	--chart-4: oklch(0.4965 0.1779 260.1659);
	--chart-5: oklch(0.5590 0 0);
	--sidebar: oklch(0.8167 0.0439 249.4423);
	--sidebar-foreground: oklch(0 0 0);
	--sidebar-primary: oklch(0 0 0);
	--sidebar-primary-foreground: oklch(1.0000 0 0);
	--sidebar-accent: oklch(0.9401 0 0);
	--sidebar-accent-foreground: oklch(0 0 0);
	--sidebar-border: oklch(0.9401 0 0);
	--sidebar-ring: oklch(0 0 0);
	--destructive-foreground: oklch(1.0000 0 0);
	--font-sans: Plus Jakarta Sans, sans-serif;
	--font-serif: Lora, serif;
	--font-mono: IBM Plex Mono, monospace;
	--shadow-color: #1a1a1a;
	--shadow-opacity: 0.16;
	--shadow-blur: 10px;
	--shadow-spread: 2px;
	--shadow-offset-x: -3.5px;
	--shadow-offset-y: 10px;
	--letter-spacing: -0.025em;
	--spacing: 0.27rem;
	--shadow-2xs: -3.5px 10px 10px 2px hsl(0 0% 10.1961% / 0.08);
	--shadow-xs: -3.5px 10px 10px 2px hsl(0 0% 10.1961% / 0.08);
	--shadow-sm: -3.5px 10px 10px 2px hsl(0 0% 10.1961% / 0.16), -3.5px 1px 2px 1px hsl(0 0% 10.1961% / 0.16);
	--shadow: -3.5px 10px 10px 2px hsl(0 0% 10.1961% / 0.16), -3.5px 1px 2px 1px hsl(0 0% 10.1961% / 0.16);
	--shadow-md: -3.5px 10px 10px 2px hsl(0 0% 10.1961% / 0.16), -3.5px 2px 4px 1px hsl(0 0% 10.1961% / 0.16);
	--shadow-lg: -3.5px 10px 10px 2px hsl(0 0% 10.1961% / 0.16), -3.5px 4px 6px 1px hsl(0 0% 10.1961% / 0.16);
	--shadow-xl: -3.5px 10px 10px 2px hsl(0 0% 10.1961% / 0.16), -3.5px 8px 10px 1px hsl(0 0% 10.1961% / 0.16);
	--shadow-2xl: -3.5px 10px 10px 2px hsl(0 0% 10.1961% / 0.40);
	--tracking-normal: -0.025em;
}

.dark {
	--background: oklch(0.2132 0.0042 264.4789);
	--foreground: oklch(0.9551 0 0);
	--card: oklch(0.2266 0.0060 271.1463);
	--card-foreground: oklch(0.9551 0 0);
	--popover: oklch(0.2266 0.0060 271.1463);
	--popover-foreground: oklch(0.9551 0 0);
	--primary: oklch(0.5014 0.2892 281.3886);
	--primary-foreground: oklch(1.0000 0 0);
	--secondary: oklch(0.2576 0.0113 278.0748);
	--secondary-foreground: oklch(0.9551 0 0);
	--muted: oklch(0.2576 0.0113 278.0748);
	--muted-foreground: oklch(0.7058 0 0);
	--accent: oklch(0.2460 0.0299 259.0566);
	--accent-foreground: oklch(0.6831 0.1737 250.1243);
	--destructive: oklch(0.6262 0.2331 27.2948);
	--border: oklch(0.2856 0.0074 274.7033);
	--input: oklch(0.2856 0.0074 274.7033);
	--ring: oklch(0.5014 0.2892 281.3886);
	--chart-1: oklch(0.7313 0.1933 149.5578);
	--chart-2: oklch(0.5014 0.2892 281.3886);
	--chart-3: oklch(0.6715 0.2013 24.3378);
	--chart-4: oklch(0.5617 0.2151 260.7490);
	--chart-5: oklch(0.7058 0 0);
	--sidebar: oklch(0.2103 0.0059 285.8852);
	--sidebar-foreground: oklch(0.9551 0 0);
	--sidebar-primary: oklch(0.5014 0.2892 281.3886);
	--sidebar-primary-foreground: oklch(1.0000 0 0);
	--sidebar-accent: oklch(0.2576 0.0113 278.0748);
	--sidebar-accent-foreground: oklch(0.5014 0.2892 281.3886);
	--sidebar-border: oklch(0.2856 0.0074 274.7033);
	--sidebar-ring: oklch(0.5014 0.2892 281.3886);
	--destructive-foreground: oklch(1.0000 0 0);
	--radius: 1.4rem;
	--font-sans: Plus Jakarta Sans, sans-serif;
	--font-serif: Lora, serif;
	--font-mono: IBM Plex Mono, monospace;
	--shadow-color: #0011ff;
	--shadow-opacity: 0.16;
	--shadow-blur: 10px;
	--shadow-spread: 2px;
	--shadow-offset-x: -3.5px;
	--shadow-offset-y: 10px;
	--letter-spacing: -0.025em;
	--spacing: 0.27rem;
	--shadow-2xs: -3.5px 10px 10px 2px hsl(236 100% 50% / 0.08);
	--shadow-xs: -3.5px 10px 10px 2px hsl(236 100% 50% / 0.08);
	--shadow-sm: -3.5px 10px 10px 2px hsl(236 100% 50% / 0.16), -3.5px 1px 2px 1px hsl(236 100% 50% / 0.16);
	--shadow: -3.5px 10px 10px 2px hsl(236 100% 50% / 0.16), -3.5px 1px 2px 1px hsl(236 100% 50% / 0.16);
	--shadow-md: -3.5px 10px 10px 2px hsl(236 100% 50% / 0.16), -3.5px 2px 4px 1px hsl(236 100% 50% / 0.16);
	--shadow-lg: -3.5px 10px 10px 2px hsl(236 100% 50% / 0.16), -3.5px 4px 6px 1px hsl(236 100% 50% / 0.16);
	--shadow-xl: -3.5px 10px 10px 2px hsl(236 100% 50% / 0.16), -3.5px 8px 10px 1px hsl(236 100% 50% / 0.16);
	--shadow-2xl: -3.5px 10px 10px 2px hsl(236 100% 50% / 0.40);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
	}
}